.about-section {
    padding: 6rem 3rem 8rem;
    background-color: #eaeaea;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .about-section__title-container {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .about-section__title {
    font-size: 1.8rem;
    color: #333;
  }
  
  .about-section__content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1.5rem; /* 負值往上移 */
  }
  
  .about-section__column {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
  }
  
  .about-section__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #444;
  }
  
  .about-section__list {
    padding-left: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .about-section__list:last-child {
    margin-bottom: 0; /* 最後一組無底部外距 */
  }
  
  .about-section__list-item {
    margin-bottom: 0.5rem; /* 中文預設 */
  }
  
  /* 英文模式調整間距 */
  .lang-en .about-section__list-item {
    margin-bottom: 0.3rem;
  }
  
  .lang-en .about-section__attributes-list-item {
    margin-bottom: 0.5rem;
  }
  
  /* 中文模式個人特質間距調整 */
  .lang-zh .about-section__attributes-list-item {
    margin-bottom: 0.8rem;
  }
  